body{
    background-color: rgb(245, 171, 144);
}

/* Message d'accueil  */
.msgAccueil{
    text-align: center;
    text-decoration: underline;
    color: rgb(155, 44, 4);
}

/* Menu */
.menu{
    width: 100%;
    height: auto;
    display: flex; 
}
.listePlats,.listeEntrees,.listeDesserts{
    background-color: rgb(245, 125, 82);
    color: transparent;
    height: 300px;
    width: 100%;
    margin: 10px;
    transition: 3s;
    border-radius: 10px;
}
.listeEntrees:hover{
    color: black;
}
.listePlats:hover{
    color: black;
}
.listeDesserts:hover{
    color: black;
}
.slideMenu{
    color: grey;
    font-weight: bold;
    transition: 2s;
    text-align: center;
}
/* .listeEntrees:hover .slideMenu{
    color: transparent;
}
.listePlats:hover .slideMenu{
    color: transparent;
}
.listeDesserts:hover .slideMenu{
    color: transparent;
} */


/* Galerie */
.accueilRecettes{
    text-align: center;
    text-decoration: underline;
    color: rgb(123, 53, 28);
}
.container,.container2{
    width: 100%;
    display: flex;
}
.recetteHaut,.recetteHaut2 {
   background-color: rgb(218, 58, 0);
   display: flex;
   height: 150px;
   width: 100%;
   margin: 10px;
   border-radius: 30px;
   justify-content: center;
   align-items: top;
}
.recetteBas,.recetteBas2,.recetteBas3{
    background-color: rgb(155, 44, 4);
    display: flex;
    height: 150px;
    width: 100%;
    margin: 20px;
    border-radius: 50px;
    justify-content: center;
    align-items: top;
}       