.relative{
    height: 500px;
    width: 70%;
    background-color: aqua;
    position: relative;
    top: 200px;
    left: 100px;
}
.absolute{
    height: 100px;
    width: 100px;
    background-color: rebeccapurple;
    position: absolute;
    top: 10%;
    right : 100px; 
}
.fixed{
    position: fixed;
    height: 150px;
    width: 100%;
    background-color: salmon;
    top: 0;
}
.sticky{
    position: sticky;
    top: 10px;
    width: 250px;
    height: 250px;
    background-color: yellow;
}
#relative{
    height: 2000px;
    width: 70%;
    background-color: aqua;
    position: relative;
    top: 200px;
    left: 100px;
}
