body{
    background-color: lightslategray;
    font-family: 'Barlow', sans-serif;
}

nav a i {
   margin-left: 370px;
     padding-right: 370px;  
}

#msgAccueil{
    margin-left: 725px;
    font-size: 50px;
    color: gainsboro;
}


.row{
background-color: lightslategray;
}

.container{
    margin-left: 715px;
}

.info{
    background-color: rgb(161, 209, 211);
}

.secondary{
    background-color: rgb(83, 124, 138);
}

.primary{
    background-color: rgb(161, 209, 211);
}

.warning{
    background-color: rgb(83, 124, 138);
    margin-left: -7px;
}

.nomFooter{
    margin: 175px;
}

#p2{
    color: gainsboro;
}


