.inline{
    display: inline;
    text-decoration: underline;
    color: blue;
    
}

.inline-block{
    display: inline-block;
    background-color: red;
    height: 150px;
}

.photo{
    height: 150px;
    width: 150px;
}

img{
    height: 300px;
    width: 300px;
    display: block;
}

