body{
    background-color: #2bbd80;
}

#msgAccueil{
    text-align: center;
}

#menu{
    width: 250px;
    height: 250px;
    display: inline;
  
}

#imgAccueil{
    margin-left: 560px;
}

#lienCommande{
    text-align: center;
}

#listeEntrees{
    background-color: #85DCB8;
}

#listePlats{
    background-color: #85DCB8;
}

#listeDesserts{
    background-color: #85DCB8;
}

#galerie{
width: 250px;
height: 250px;
display: inline;
}

#galerieImages{
    margin-left: 300px;
}

#accueilImages{
    text-align: center;
}

