 body{
    background-color: yellow;
} 

section{
   background-color: cadetblue;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 825px;
}

.flex-item{
    background-color: orangered;   
    display: flex;
    align-items: center;
    height: 100px;
    padding: 50px;
    margin: 5px; 
}

