header,footer{
    width: 100%;
    height: 75px;
    background-color: blue;
    border-radius: 5px;
}
.container{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: space-between;
}
nav,aside{
    height: 550px;
    width: 20%;
    background-color: coral;
    border-radius: 5px;
}
article{
    order: 2;
}
aside{
    order: 3;
}
article{
    order: 1;
    height: 550px;
    width: 59%;
    background-color: cornflowerblue;
    border-radius: 5px;
}