#boxBleu{
    background-color: blue;
    height: 300px;
}

#boxRouge{
    background-color: red;
    height: 100px;
    width: 100px;
    margin-left: 900px;
}

#monimage1{
    background-image: url(/public/img/eclair.jpg);
    width: 2115px;
    height: 800px;
    background-size: cover;
}

#monimage2{
    background-image: url(/public/img/simpsons.jpg);
    width: 2115px;
    height: 800px;
    background-attachment: fixed;
    background-size: cover;
}