body{
    background-color: cornflowerblue;
    
}

/* séparation */

header{
    margin-bottom: 10px;
}
.container1{
    display: flex;
    height: 100px;
}
.flex-item1{
    background-color: blueviolet;
    width: 100%;
    border-radius: 10px;
    
}

/* Manque les bords arrondis */

section{
    margin-bottom: 10px;
}
.container2{
    display: flex;
    justify-content: space-between;    
    height: 700px;
    
}
.flex-item3{
    order: 1;
}
.flex-item4{
    order: 3;
}
.flex-item3,.flex-item4{
    background-color: aquamarine;
    width: 25%;  
    padding: 10px; 
    margin: 10px;
    border-radius: 10px; 
}
.flex-item2{
    background-color: olivedrab;
    width: 100%;
    padding: 10px;
    margin: 10px; 
    border-radius: 10px; 
    order: 2;
}



/* Manque les bords arrondi, le placement et la séparation */


.container3{
    display: flex;
    height: 100px;
}
.flex-item5{
    background-color: blueviolet;
    width: 100%;
    border-radius: 10px;
}